@import url(https://fonts.googleapis.com/css?family=Yesteryear);


html,body {
    height:100%;
}




/*============================== NAV ===========================*/

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a {
    color: lightsalmon;
    background-color: transparent;
    /* font-weight: bold; */
    border: 3px solid lightsalmon;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: transparent;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 3px solid transparent;
}


.logo img {
    width: 50px;
    margin-top: 2px;
    margin-left: 5%;
}


/*=========================== JUMBOTRON ========================*/

.jumbotron {
    background: url(../images/photo-cover.jpg) no-repeat center center fixed;
    background-size: cover;
    /*min-height: 100%;
    width: 100%;*/
    /*height: 100%;*/
    margin-bottom: 0px;
}

.special,.special .jumbotron {
    height:100%;
    /*margin-bottom: 0px;*/
}

.center-block {
    max-width: 70%;
    margin-top: 10%;
}

.jumbotron h1 {
    color: white;
    font-family: 'Yesteryear', cursive;
}

/*.logo h2 {
    color: white;
    font-family: 'Yesteryear', cursive;
}*/

/*============================== GALLERY ============================*/

#gallery {
    height: 100%;
    background: url(../images/5.jpg) no-repeat center center;
    background-size: cover;
}

#gallery .row {
    width: 95%;
}

#gallery .row div h1 {
    color: lightsalmon;
    font-family: 'Yesteryear', cursive;
    font-size: 96px;
}

.gal {
    width: 90%;
    display: inline-flex;
}

.gal .col-md-3 {
    padding: 0px;
}

/*============================== PACKAGES ===========================*/

#packages {
    height: 100%;
    background: url(../images/wood-teal.jpg) no-repeat center center;
    background-size: cover;
}

#packages .row {
    width: 95%;
}

#packages .row div h1 {
    color: lightsalmon;
    font-family: 'Yesteryear', cursive;
    font-size: 96px;
}

/*============================== CONTACT ============================*/

#contact {
    height: 100%;
    background:url(../images/cloth-bg.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
}

#contact .row {
    width: 95%;
}

.form {
    margin-top: 10%;
}

#contact .row div h1 {
    color: lightsalmon;
    font-family: 'Yesteryear', cursive;
    font-size: 96px;
}

#backUp {
    margin-bottom: 0px;
    display: flex;
    align-self: flex-end;
}

.width a span {

    /*width: 5%;*/
    color: lightgrey;
    font-size: 28px;
    text-align: center;
    margin: 50%;
    padding: 10px 10px;
    border-radius: 50%;
    background-color: lightsalmon;
    float:right;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

/*================================ END ===============================*/
